<sly data-sly-use.testing="com.aemgeeks.core.models.AEMPracticeModel">


<sly
    data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='aem.practice'}"
  />
  <sly

<div data-sly-test="${testing.author}">
   <h1> Author Mode </h1>
</div>    

<div data-sly-test="${!testing.author}">
<div><h1>Title : ${testing.title} </h1></div>

<div data-sly-test="${testing.bkgimage == 'true'}">
	<img src="${properties.dampath}" alt="Image">
</div>

<div data-sly-test="${testing.navigationitem}" data-sly-list="${testing.navigationitem}">
    <div data-sly-test="${itemlist.first}">
		<b>page: ${item.pagePath} </b> 
		<b>path: ${item.titleItem} </b> 
	</div>
    <div data-sly-test="${!itemlist.first && !itemlist.last}">
		page: ${item.pagePath} 
		path: ${item.titleItem}
	</div>
    <div data-sly-test="${itemlist.last}">
		<i>page: ${item.pagePath} </i> 
		<i>path: ${item.titleItem} </i> 
	</div>
</div>
</div>
